# refer to README.adoc to learn how to build the site
antora:
  extensions:
  - ./lib/component-url-prefix-extension.js
  - id: jetty-downloads
    require: ./lib/jetty-downloads-extension.js
    enabled: false
    last_eol_version: 11
  - id: register-asciidoctor-kroki
    require: ./lib/register-asciidoctor-kroki-extension.js
    enabled: false
  - id: lunr
    require: '@antora/lunr-extension'
    enabled: false
    index_latest_only: true
  - id: '@antora/collector-extension'
    require: '@antora/collector-extension'
    keep_worktrees: until:exit # Jetty Home is created in the temporary worktree, so retain until Antora exits
runtime:
  log:
    destination:
      append: false
    level: info
site:
  title: Eclipse Jetty
  url: https://jetty.org
  keys:
    google_analytics: G-VS4ZRD6HVM
content:
  sources:
  - url: .
    branches: HEAD
    start_paths: [home, docs-home, contribution-guide]
  - url: https://github.com/jetty/jetty.project
    # tags: ["jetty-10.0.26", "jetty-11.0.26", "jetty-12.0.29", "jetty-12.1.3"]
    # branches: ~
    branches: ["jetty-10.0.x", "jetty-11.0.x", "jetty-12.0.x", "jetty-12.1.x"]
    start_path: documentation/jetty/

asciidoc:
  attributes:
    experimental: ''
    idprefix: ''
    idseparator: '-'
    page-pagination: ''
  extensions:
  - ./lib/feed-block-macro.js
  - ./lib/javadoc-block-macro.js
  - ./lib/jetty-block.js
  - ./lib/skip-include-processor.js
  - ./lib/absolute-path-include-processor.js
ui:
  bundle:
    url: https://github.com/jetty/jetty.website/releases/download/ui-prod-latest/ui-bundle.zip
    snapshot: true
output:
  dir: target/site
