# npx antora antora-playbook.yml
antora:
  extensions:
  - ./lib/component-url-prefix-extension.js
site:
  title: Eclipse Jetty
  url: https://jetty.org
content:
  sources:
  - url: .
    branches: HEAD
    start_paths: [home, docs-home, contribution-guide]
  - url: https://github.com/opendevise/jetty.project
    branches: jetty-12.0.x-for-antora
    start_path: documentation/jetty-docs
asciidoc:
  attributes:
    experimental: ''
    idprefix: ''
    idseparator: '-'
    page-pagination: ''
  extensions:
  - ./lib/feed-block-macro.js
ui:
  bundle:
    url: https://github.com/webtide/jetty.website/releases/download/ui-prod-latest/ui-bundle.zip
    snapshot: true
output:
  dir: ./_site
