<template id="card-entry" class="hidden">
  <div class="card-block">
    <a class="card-link">
      <div class="card-title"></div>
      <div class="card-content overflow">
        <p></p>
      </div>
    </a>
  </div>
</template>
<script src="{{{uiRootPath}}}/js/feeds.js"></script>
