name: Publish Site
on:
  push:
    branches: [main]
    paths-ignore: ['.github/workflows/release-ui.yml', 'ui/**']
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
concurrency:
  group: github-pages
  cancel-in-progress: false
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Configure Pages
      uses: actions/configure-pages@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Install Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '21'
    - name: Install Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6
    - name: Generate Site
      env:
        # must set ANTORA_CACHE_DIR so Maven will put jetty home where Antora Collector won't delete it
        ANTORA_CACHE_DIR: ${{ github.workspace }}/.cache/antora
      run: mvn --version
      #run: npx -y --package antora --package @antora/collector-extension --package @antora/lunr-extension --package asciidoctor-kroki antora --stacktrace --extension @antora/collector-extension --extension @antora/lunr-extension --html-url-extension-style=indexify antora-playbook.yml
    #- name: Upload Artifact
    #  uses: actions/upload-pages-artifact@v3
    #- name: Deploy Artifact to GitHub Pages
    #  id: deployment
    #  uses: actions/deploy-pages@v4
